/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.site-container {
  padding-bottom: 5rem;
  max-width: $container-width-mobile;
  margin: $margin__auto;
  @include desktop {
    max-width: $container-width-desktop;
  }
}

.b
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}


.entry-content {
  text-align: center;
  margin: 0 auto;
  @include desktop {
    margin: 55px auto;
  }
;


  h2 {
    font-weight: bolder;
    font-size: $main-header__mobile;
    padding: 25px 0;
    @include desktop {
      font-size: $main-header__desktop;
      padding: 25px 0;

    }
  }

  p {
    padding: 15px 0;
    font-size: $main-paragraph__mobile;
    @include tablet {
      padding: 0;
    }
    @include desktop {
      margin: 25px auto;
      width: 85%;
      font-size: $main-paragraph__desktop;
    }
  }

}