/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
form {
  width: 80%;
}

.contact-us-container {
  h2 {
    text-align: center;
    @include tablet {
      font-size: $main-header__desktop;
    }
  }

  h3 {
    font-size: $sub-header;
    display: none;
    @include tablet {
      display: block;
      text-align: center;
    }
  }
}

.gf_browser_safari,
.gf_browser_iphone,
.gform_wrapper {
  border-radius: 15px;
  border: 2px solid $primary__color;
  margin: 25px auto !important;
  @include tablet {
    width: 82%;
    border: 11px solid $primary__color;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
  }
}

.gfield_label {
  font-size: $main-paragraph__desktop !important;
  text-align: center;
  @include tablet {
    width: 100%;
    margin-bottom: 11%;
    font-size: $main-header__mobile - 7 !important;
  }
}

.ginput_container,
.ginput_container_text {
  input {
    background: transparent;
  }

  .medium {
    font-size: $main-paragraph__desktop - 4 !important;
    border: none;
    border-bottom: 2px solid $secondary__color;
    @include tablet {
      font-size: $main-header__mobile - 7 !important;
      width: 100% !important;
      border-bottom: 5px solid $secondary__color;
    }
  }
}

.gf_progressbar_wrapper {
  display: none;
}

textarea {
  background: transparent;
  border: 2px solid $secondary__color !important;
  border-radius: 15px;
}

.gform_page_footer {
  border-top: none !important;
  @include tablet {
    margin: 0 auto !important;
    width: 29% !important;
    padding: 25px 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.gform_next_button {
  padding: 0.2rem 3rem !important;
  @include tablet {
    padding: 0.8rem 6rem !important;
    overflow: inherit !important;
  }
}

.gform_previous_button {
  display: none !important;
}

.gform_button {
  @include tablet {
    overflow: inherit !important;
  }
}

.gform_confirmation_wrapper {
  padding: 25px 0;
}

.gform_confirmation_message_1,
.gform_confirmation_message {
  font-weight: bolder;
  height: 200px;
  @include flex(column nowrap, center, center);
  text-align: center;
  margin: $margin__auto;
  border: 5px solid $primary__color;
  padding: 25px;
  border-radius: 30px;
  @include desktop {
    width: 80%;
    font-size: $main-header__desktop;
    height: 500px;
  }
}

.gform_body {
  @include tablet {
    @include flex(row nowrap, center, center);
  }
}

.gfield_description {
  text-align: center;
}

.gform_page {
  @include tablet {
    margin: 2% 5% 2% 5%;
  }
}

.gfield_checkbox {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  li {
    position: relative;
    padding-left: 40px;

    label {
      font-size: $main-paragraph__mobile - 7 !important;
      padding-left: 50px !important;

      &:after {
        content: '';
        background: transparent;
        border: 2px solid $primary__color;
        width: 27px;
        height: 27px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 3px;
        z-index: 0;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 6px;
        height: 15px;
        border: solid $secondary__color;
        border-width: 0 3px 3px 0;
        left: 9px;
        top: 4px;
        transform: rotate(45deg);
        opacity: 0;
        z-index: 1;
        transition: all 100ms;
      }
    }
  }
}

input[type='checkbox'] {
  opacity: 0;
  outline: none;
  z-index: 100;
  width: 27px;
  height: 27px;
  top: 0;
  left: 0;
  position: absolute;
  appearance: none;
  cursor: pointer;

  + label {
    cursor: pointer;
  }

  &:checked + label {
    &:before {
      opacity: 1;
      top: 3px;
    }
  }
}

.gform_wrapper ul.gfield_checkbox li,
.gform_wrapper ul.gfield_radio li {
  overflow: inherit !important;
}
