.single-course {
  .site-content {
    header {
      h1 {
        text-align: center;
      }
    }
    .entry-content {
      h2 {
      }
      figure {
        img {
          border-radius: 50%;
          width: 60%;
        }
      }

      p {
        font-size: 16px;
        width: 90%;
      }

      h3 {
        text-transform: capitalize;
      }

      hr {
        width: 46%;
        margin-left: 27%;
      }
      ul {
        list-style: none;
        margin: 0;
      }
    } //entry-content
  } //site-content
} //the page end
