.single-course {
  h2:nth-child(1) {
    padding-bottom: 0;
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }
  h2:nth-child(2) {
    padding: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }

  .has-2-columns {
    // flex-direction: row;
    // flex-wrap: nowrap;
  }
  .theme-bar img {
    display: none;
    @include tablet {
      display: block;
      position: relative;
      left: 120px;
      top: 140px;
      z-index: -3;
      width: 520px;
      border-radius: 0;
    }
    @include desktop {
      width: 1100px;
    }
  }

  .has-4-columns {
    flex-direction: column;
    @include tablet {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
    }

    .course-theme-image img {
      @include tablet {
        width: 75%;
      }
    }
    .wp-block-column:nth-child(2),
    .wp-block-column:nth-child(3) {
      h3 {
        padding-bottom: 2rem;
      }
    }
    .wp-block-column {
      ul {
        border-top: $border-sec;
        width: 200px;
        margin: auto;

        li {
          width: 100%;
        }
      }

      p {
        padding: 0;
        margin: auto;
      }
      h3 {
        font-size: 28px;
        font-weight: bold;
      }
      h4 {
        padding-bottom: 2rem;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }

  figure {
    img {
      border-radius: 50%;
      width: 60%;
      @include tablet {
        width: 25%;
      }
    }
  }

  p {
    font-size: 16px;
    width: 90%;
  }

  h3 {
    text-transform: capitalize;
    // border-bottom: $border-sec;
  }

  ul {
    list-style: none;
    margin: 0;
    line-height: 3;
  }

  .course-theme-icon img {
    width: 100%;
  }
} //the page end
