.page-id-80 {
  //for js toggle
  .show-text {
    display: block;
  }

  .entry-title,
  .entry-content h2 {
    text-align: center;
    left: 20%;
  }
  .entry-content {
    h2 {
      @include desktop {
        text-align: left;
        margin-left: 6%;
        margin-bottom: -5%;
        font-weight: 400;
      }
    }
    .themes-title {
      @include desktop {
        text-align: center;
        margin: 0;
      }
    }
  }
  .wp-block-columns {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row-reverse;
      flex-wrap: nowrap;
    }
    figure {
      img {
        @include desktop {
          border-radius: 25px;
          margin-top: 5%;
        }
      }
    }
    .wp-block-column:nth-child(2) {
      margin-top: 2%;
      margin-right: 3%;

      .course-text-more {
        display: none;
        @include desktop {
          display: block;
        }
      }
    }
    .wp-block-column p {
      @include desktop {
        font-size: 18px;
        text-align: left;
      }
    }
    .readmore {
      margin-bottom: 0;
      .wp-block-button__link {
        padding: 0;
        border-radius: 0;
        border: none;
        background: none;
        color: black;
        &:hover {
          background-color: transparent;
          border: none;
          box-shadow: none;
        }
        @include desktop {
          display: none;
        }
      }
    }

    .fa-caret-down {
      @include desktop {
        display: none;
      }
      transition-property: transform;
      transition-duration: 0.5s;
      &.transform {
        transform: rotate(180deg);
      }
    }
  }

  .wp-block-button {
    @include desktop {
      text-align: left;
      margin-left: 6%;
    }
    .wp-block-button__link {
      @include button;
      font-family: $font__secondary;
      padding: 0.8rem 3rem;
      font-size: 17px;
      font-weight: bold;
      list-style: none;
      text-decoration: none;
      @include desktop {
        width: 33%;
      }
    }
  }
  .course-theme-introtext {
    display: none;
    @include desktop {
      display: block;
      margin-bottom: 15%;
    }
  }

  .course-lines {
    display: none;
    @include desktop {
      display: block;
      position: relative;
    }
  }
  .course-themes {
    .course-bubbles {
      display: flex;
      height: 200px;
      justify-content: space-around;
      overflow: scroll;
      @include desktop {
        height: 50px;
      }
      .bubble {
        margin-right: 5%;
        background: skyblue;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;
        @include tablet {
          margin-right: 4.5%;
        }
        .course-title {
          text-align: center;
          color: white;
        }
        @include desktop {
          margin-right: 0;
        }
        &.active {
          background: $secondary__color;
        }
        &:hover {
          background: $secondary__color;
        }
        .course-title {
          h2 {
          }
        }
      }

      .bubble41 {
        order: 3;
        @include desktop {
          @include positionAbsolute(1130px, 160px);
        }
      }
      .bubble109 {
        order: 4;
        @include desktop {
          @include positionAbsolute(1290px, 390px);
        }
      }

      .bubble111 {
        order: 5;
        @include desktop {
          @include positionAbsolute(1130px, 630px);
        }
      }
      .bubble113 {
        order: 1;
        @include desktop {
          @include positionAbsolute(1290px, 860px);
        }
      }
      .bubble115 {
        order: 2;
        @include desktop {
          @include positionAbsolute(1130px, 1090px);
        }
      }
    }
    .course-theme-text {
      margin: 2rem 0;
      @include desktop {
        margin: 5% 0 10% 10%;
      }
      .themes {
        display: none;
        .course-title {
          display: none;
          @include desktop {
            font-weight: bold;
            display: block;
            margin-left: 2%;
          }
        }
      }
      .themes-text {
        margin: 2rem 1rem;
        text-align: center;
        @include desktop {
          width: 80%;
          text-align: left;
        }
      }
      .learn-more {
        text-align: center;
        margin-left: 18%;
        @include tablet {
          margin-left: 33%;
        }
        @include desktop {
          margin-left: 2%;
        }
      }
      &.active {
        display: block;
      }
    }
  }
  .course-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 95%;
      margin: auto;
    }

    h2 {
      width: 100%;
      text-align: center;
      margin: 1.5rem 0;
      font-size: 2rem;
      @include desktop {
        display: none;
      }
    }
    .feature-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include desktop {
        padding: 2rem;
        width: 31%;
        border: 3px solid $primary__color;
        border-radius: 25px;
        height: 572px;
        // margin-right: 5%;
      }
      img {
        width: 110px;
      }
      h3 {
        margin: 1rem 0;
        font-weight: bold;
      }
      p {
        display: none;
        @include tablet {
          display: block;
          text-align: left;
          width: 70%;
        }
        @include desktop {
          display: block;
          text-align: left;
          width: 98%;
        }
      }
    }

    .feature-block:nth-child(5) {
      @include desktop {
        margin-left: 18%;
        margin-top: 8%;
        height: 450px;
      }
    }
    .feature-block:nth-child(6) {
      @include desktop {
        margin-right: 18%;
        margin-top: 8%;
        height: 450px;
      }
    }
  }

  .course-pack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    @include desktop {
      display: none;
    }
    h2 {
      margin-bottom: 1rem;
    }
    p {
      text-align: center;
    }
  }
  .course-banner {
    display: none;
    @include desktop {
      margin: 8% 0;
      display: flex;
      flex-direction: row;
    }
    .banner-info {
      width: 50%;
      h2 {
        font-size: 2rem;
        margin: 1.5rem 0;
      }
      p {
        margin-bottom: 1.5rem;
        margin-right: 4rem;
      }
    }
    img {
      width: 540px;
      height: 220px;
    }
  }
} //end of page
