.page-id-80 {
  //for js toggle
  .hide-text {
    display: none;
  }
  .entry-content {
    h2 {
      @include desktop {
        text-align: left;
        margin-left: 2%;
        margin-bottom: -5%;
        font-weight: 400;
      }
    }
    .themes-title {
      @include desktop {
        text-align: center;
        margin: 0;
        margin-bottom: 10%;
      }
    }
  }
  .wp-block-columns {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row-reverse;
      flex-wrap: nowrap;
    }
    figure {
      img {
        @include desktop {
          border-radius: 25px;
        }
      }
    }
    .wp-block-column:nth-child(2) {
      margin-top: 2%;
      margin-right: 3%;
    }
    .wp-block-column p {
      @include desktop {
        font-size: 18px;
        text-align: left;
      }
    }
    .readmore a {
      padding: 0;
      border-radius: 0;
      border: none;
      background: none;
      color: black;
      @include desktop {
        display: none;
      }
    }
  }

  .wp-block-button {
    padding: 0;
    border-radius: 0;
    border: none;
    background: none;
    color: white;
    @include desktop {
      text-align: left;
      margin-left: 2%;
    }
    a {
      @include desktop {
        width: 33%;
      }
    }
  }

  .course-lines {
    display: none;
    @include desktop {
      display: block;
      position: relative;
    }
  }
  .course-themes {
    .course-bubbles {
      display: flex;
      height: 200px;
      justify-content: space-around;
      overflow: scroll;
      @include desktop {
        height: 50px;
      }
      .bubble {
        margin-right: 5%;
        background: skyblue;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;
        .course-title {
          text-align: center;
        }
        @include desktop {
          margin-right: 0;
        }
        &.active {
          background: coral;
        }
        .course-title {
          h2 {
          }
        }
      }

      .bubble41 {
        order: 3;
        @include desktop {
          position: absolute;
          top: 1030px;
          left: 140px;
        }
      }
      .bubble109 {
        order: 4;
        @include desktop {
          position: absolute;
          top: 1230px;
          left: 390px;
        }
      }
      .bubble111 {
        order: 5;
        @include desktop {
          position: absolute;
          top: 1030px;
          left: 630px;
        }
      }
      .bubble113 {
        order: 1;
        @include desktop {
          position: absolute;
          top: 1230px;
          left: 860px;
        }
      }
      .bubble115 {
        order: 2;
        @include desktop {
          position: absolute;
          top: 1030px;
          left: 1090px;
        }
      }

      .themes {
        display: none;
      }
      .themes-text {
        &.active {
          display: block;
        }
        .permalink {
          a {
          }
        }
      }
    }
  }
  .course-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    h2 {
      width: 100%;
      text-align: center;
      margin: 1.5rem 0;
      font-size: 2rem;
      @include desktop {
        display: none;
      }
    }
    .feature-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include desktop {
        padding: 2rem;
        width: 28%;
        border: 3px solid $primary__color;
        border-radius: 25px;
        // margin-right: 5%;
      }
      img {
        width: 110px;
      }
      h3 {
        margin: 1rem 0;
        font-weight: bold;
      }
      p {
        display: none;
        @include tablet {
          display: block;
        }
      }
    }

    .feature-block:nth-child(5) {
      @include desktop {
        margin-left: 18%;
        margin-top: 8%;
      }
    }
    .feature-block:nth-child(6) {
      @include desktop {
        margin-right: 18%;
        margin-top: 8%;
      }
    }
  }

  .course-pack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    @include desktop {
      display: none;
    }
    h2 {
      margin-bottom: 1rem;
    }
    p {
      text-align: center;
    }
  }
  .course-banner {
    display: none;
    @include desktop {
      margin: 8% 0;
      display: flex;
      flex-direction: row;
    }
    .banner-info {
      width: 50%;
      h2 {
        font-size: 2rem;
        margin: 1.5rem 0;
      }
      p {
        margin-bottom: 1.5rem;
        margin-right: 4rem;
      }
    }
    img {
      width: 540px;
      height: 220px;
    }
  }
}
