/*--------------------------------------------------------------
# Free Resources
--------------------------------------------------------------*/

.free-resource-banner {
  @include flex(column nowrap, center, center);
  @include tablet {
    @include flex(row wrap, center, center);
  }

  h1:nth-child(odd) {
    font-size: 42px;
    text-align: center;
    @include tablet {
      display: none;
    }
  }

  img {
    width: 328px;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 25px;
  }

  a {
    font-size: 20px;
    padding: .8rem 3rem;
  }

  .free-resource-image-desktop {
    display: none;

    @include tablet {
      display: inline-block;
      height: 350px;
      width: 600px;
    }

  }
}

.free-resource-image-mobile {
  @include tablet {
    display: none;
  }
}

.free-resource-header-desktop {
  display: none;
  @include tablet {
    display: block;
    font-size: 48px;
  }
}


.free-resource-text-desktop {
  @include flex(column nowrap, center, center);
  @include tablet {
    display: inline-block;
    width: 37%;
    padding-bottom: 36px;
    h2 {
      font-size: 36px;
    }
  }

  h2 {
    display: none;
    @include tablet {
      display: block;
      margin: 20px 0;
    }


  }

  p {
    display: none;
    @include tablet {
      display: block;
      margin-bottom: 10%;
      line-height: 17px;

    }
  }
}

.free-resource-info {
  text-align: center;
  padding: 25px 0;

  h1:nth-child(even) {
    font-size: 35px;
    @include tablet {
      display: none;
    }
  }

  h2 {
    display: none;
    @include tablet {
      display: block;
      font-size: 36px;

    }
  }

  p:nth-child(even) {
    line-height: 24px;
    width: 85%;
    margin: $margin__auto;
    font-size: 22px;
    @include tablet {
      display: none;
    }
  }

  p:nth-child(odd) {
    display: none;
    @include tablet {
      width: 90%;
      margin: $margin__auto;
      padding-top: 20px;
      display: block;
      font-size: 18px;
    }
  }
}

.space-thought-header-desktop {
  display: none;
  @include tablet {
    display: block;
    font-size: 48px;


  }
}

.free-resource-video-container, .free-resource-video {
  @include flex(column nowrap, center, center);

  .border {
    border: 2px solid black;
    border-radius: 25px;
    height: 222px;
    overflow: hidden;
  }

  @include tablet {
    padding: 25px 0;

  }

  h2 {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include tablet {
      width: 100%;
      font-size: 36px;
    }
  }

  iframe {
    width: 335px;
    height: 198px;
    @include tablet {
      height: 402px;
      width: 710px;

    }
  }

}


.free-resource-video-container {

  @include tablet {
    div:nth-child(even) {
      flex-flow: row nowrap;
    }
    div:nth-child(odd) {
      flex-flow: row-reverse nowrap;
    }
    .free-resource-video-description {
      padding: 69px;

      p {
        font-size: 18px;
      }
    }
  }
}


.free-resource-video-description {
  p {
    display: none;
    @include tablet {
      display: block;
    }
  }
}

