/*--------------------------------------------------------------
# Free Resources
--------------------------------------------------------------*/

.free-resource-banner {
  @include flex(column nowrap, center, center);
  width: 100%;

  @include tablet {
    @include flex(row wrap, space-between, center);
  }

  h1 {
    text-align: center;
    width: 100%;
  }

  h1:nth-child(odd) {
    font-size: $main-header__mobile;
    text-align: center;
    @include tablet {
      display: none;
    }
  }

  img {
    width: 328px;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 25px;

    @include tablet {
      height: auto;
      width: 55%;
    }
  }

  a {
    padding: 0.8rem 3rem;
    @include tablet {
      font-size: $main-paragraph__desktop - 6;
    }
  }

  .free-resource-image-desktop {
    display: none;

    @include tablet {
      display: inline-block;

      @include desktop {
        height: auto;
        // width: 450px;
      }
    }
  }
}

.free-resource-image-mobile {
  @include tablet {
    display: none;
  }
}

.free-resource-header-desktop {
  display: none;
  text-align: center;
  @include tablet {
    padding: 2rem 0;
    display: block;
  }

  @include desktop {
    padding: 2rem 0;
    font-size: $main-header__desktop;
  }
}

.free-resource-text-desktop {
  @include flex(column nowrap, center, center);
  width: 100%;

  @include tablet {
    display: inline-block;
    width: 42%;
    padding-bottom: 3rem;
    h2 {
      font-size: $main-paragraph__desktop + 8;
    }
  }

  @include desktop {
    h2 {
      font-size: $main-paragraph__desktop + 13;
      width: 40%;
    }
  }

  h2 {
    display: none;
    @include tablet {
      display: block;
      margin: 20px 0;
      width: 100%;
    }
  }

  p {
    display: none;
    @include tablet {
      display: block;
      margin-bottom: 3rem;
    }
    @include desktop {
      display: block;
      // margin-bottom: 10%;
      line-height: 17px;
    }
  }
}

.free-resource-info {
  text-align: center;
  padding: 25px 0;

  h1:nth-child(even) {
    font-size: $main-header__mobile - 7;
    @include tablet {
      display: none;
    }
  }

  h2 {
    display: none;
    @include tablet {
      font-size: $main-paragraph__desktop + 6;
      display: block;
    }
    @include desktop {
      font-size: 2rem;
    }
  }

  p:nth-child(even) {
    line-height: 24px;
    width: 85%;
    margin: $margin__auto;
    font-size: $main-paragraph__mobile;
    @include tablet {
      display: none;
    }
  }

  p:nth-child(odd) {
    display: none;
    @include tablet {
      display: block;
      padding-top: 20px;
      font-size: $main-paragraph__mobile - 6;
    }
    @include desktop {
      width: 90%;
      margin: $margin__auto;
      font-size: $main-paragraph__desktop - 3;
    }
  }
}

.space-thought-header-desktop {
  display: none;
  @include tablet {
    display: block;
    font-size: $main-header__desktop - 6;
  }
  @include desktop {
    display: block;
    font-size: $main-header__desktop;
  }
}

.free-resource-video-container,
.free-resource-video {
  margin: 0 auto;
  padding: 2rem 0;
  @include flex(column nowrap, center, center);
  @include tablet {
    // padding: 25px 0;
  }

  h2 {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include tablet {
      width: 45vw;
      font-size: $main-paragraph__desktop + 8;
    }
    @include desktop {
      width: 450px;
      font-size: $main-paragraph__desktop + 8;
    }
  }

  iframe {
    height: 198px;
    width: 335px;

    @include tablet {
      height: 370px;
      width: 600px;
    }

    @include desktop {
      max-height: 400px;
      max-width: 710px;
    }
  }
}

.free-resource-video-container {
  @include tablet {
    // padding: 2rem 0;
    width: 100%;

    div:nth-child(odd) {
      flex-flow: row-reverse nowrap;
      // justify-content: space-between;
    }

    div:nth-child(even) {
      flex-flow: row nowrap;
      // justify-content: space-between;
    }

    .free-resource-video-description {
      div:nth-child(odd) {
        padding-right: 1rem;
      }

      div:nth-child(even) {
        padding-left: 1rem;
      }

      p {
        font-size: $main-paragraph__desktop - 4;
        text-align: right;
      }
    }
  }

  @include desktop {
    div:nth-child(odd) {
      justify-content: space-evenly;
    }

    div:nth-child(even) {
      justify-content: space-evenly;
    }

    p {
      font-size: $main-paragraph__desktop + 4;
    }
  }
}

.free-resource-video-description {
  p {
    display: none;
    @include tablet {
      display: block;
      padding: 0 2rem;
    }
  }
}
