/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/
.banner-header {
  text-align: center;
  margin-bottom: 2.2rem;

  h1 {
    padding-bottom: 25px;
    margin: 0 auto;
    font-family: 'Quicksand-Light', sans-serif;
    font-size: 2.7rem;
  }

  @include tablet {
    top: 43vh;
    left: 5vh;
    position: absolute;
    color: $color__white;
    text-align: inherit;
    h1 {
      font-size: 35px;
    }
  }
  @include desktop {
    top: 50vh;
    left: 10vh;
    position: absolute;
    color: $color__white;
    text-align: inherit;
    h1 {
      font-size: 2.7rem;
    }
  }
}

.founder-container,
.solutions-container {
  text-align: center;
  margin-bottom: 2.5rem;

  h1 {
    font-size: 36px;
  }

  img {
    margin-bottom: 15px;
  }

  p {
    font-size: 22px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

.founder-container {
  iframe {
    height: 220px;
    width: 320px;
  }

  @include tablet {
    @include flex(row-reverse nowrap, center, center);
    iframe {
      height: 380px;
      width: 670px;
    }
  }

  .founder-text-container {
    @include tablet {
      padding-bottom: 37px;
    }
    @include desktop {
      text-align: left;
      max-width: 36%;
    }
  }
}

.founder-button-container {
  padding: 25px 0;
}

.solutions-container {
  .solution-text-desktop {
    display: none;
  }

  @include tablet {
    width: 86%;
    margin: $margin__auto;
    h1 {
      padding-top: 11%;
      padding-bottom: 5%;
    }
    div {
      @include flex(row nowrap, center, center);
    }
    img {
      width: 50%;
    }
    .solution-text-desktop {
      margin-left: 13px;
      text-align: left;
      font-size: 16px;
      display: block;
    }
    .solution-text-mobile {
      display: none;
    }
  }
}

.checkmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-bottom: 25px;

  &:before {
    content: '';
    height: 1px;
    width: 50%;
    border-top: 2px solid $secondary__color;
  }

  &:after {
    content: '';
    height: 1px;
    width: 50%;
    border-bottom: 2px solid $secondary__color;
  }

  @include tablet {
    display: none;
  }
}

.front-page-check-mark {
  margin: 15px 0;
  @include flex(row wrap, center, center);
  width: 110%;

  h2 {
    margin-left: 10px;
    width: 60%;
    font-size: 21px;
  }
}

.campaign-container {
  @include flex(column wrap, center, null);
  margin-bottom: 25px;

  @include tablet {
    display: inline-block;
    width: 55%;

    h2 {
      text-align: left;
      margin: 2rem 0;
    }
  }

  .campaign-text-desktop {
    display: none;
  }

  @include tablet {
    display: inline-block;
    .campaign-text-mobile {
      display: none;
    }

    .campaign-text-desktop {
      display: block;
      margin: 0 auto;
      // width: 450px;
    }
  }

  p {
    text-align: center;
    font-size: 1rem;
    margin: 25px auto;

    @include tablet {
      padding-bottom: 25px;
      line-height: 24px;
      text-align: left;
      width: 100%;
      font-size: 14px;
    }
    @include desktop {
      padding-bottom: 0;
      font-size: 16px;
      width: 100%;
      text-align: left;
    }
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;

    @include tablet {
      text-align: left;
    }

    @include desktop {
      font-size: 48px;
      margin: 8% 0;
    }
  }

  .campaign-logo {
    margin: 10px auto;
    height: 130px;
    width: auto;

    @include tablet {
      height: 200px;
    }
  }

  .campaign-logo-container-mobile {
    text-align: center;

    @include tablet {
      position: absolute;
      right: 5%;
    }
    @include desktop {
      display: none;
    }
  }

  .campaign-button {
    padding-top: 25px;
    text-align: center;
    @include tablet {
      text-align: left;
    }
    @include desktop {
      margin: 50px 0;
      text-align: left;
    }
  }
}

.campaign-logo-container-desktop {
  display: none;
  @include tablet {
    // display: inline-block;
    width: 35%;

    img {
      margin-bottom: 18%;
    }
  }

  @include desktop {
    display: inline-block;
    width: 44%;
    img {
    }
  }
}

.view-courses {
  @include flex(column wrap, center, center);
  margin-bottom: 25px;
  @include tablet {
    margin: 25px;
  }
}

.banner-image-desktop {
  display: none;
  @include tablet {
    display: block;
  }
}

.banner-image-mobile {
  @include tablet {
    display: none;
  }
}

.vp-video-wrapper,
.transparent {
  border-radius: 25px;
}

.front-page-video-container {
  @include flex(column wrap, center, center);
  @include tablet {
    @include flex(column wrap, flex-end, flex-end);
    float: right;
    padding-top: 9%;
  }
}

.front-page-video {
  width: 285px;
  height: 162px;
  top: 0;
  left: 0;
  @include tablet {
    height: 380px;
    width: 670px;
  }
}

.goals-desktop {
  padding-top: 10%;
  display: none;

  h2 {
    padding: 25px 0;
    font-size: 36px;
    text-align: center;
    font-family: 'Quicksand-Bold', sans-serif;
  }

  p {
    max-width: 75%;
    margin: $margin__auto;
  }

  .goals-boxes {
    background: $color__white;
    border-radius: 25px;
    box-shadow: 5px 5px 11px grey;
    padding: 30px 0 45px 0;
  }

  @include tablet {
    max-width: 93%;
    margin: $margin__auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}
