.site-header {
  height: 60px;
  // padding-top: 0.75rem;
  position: relative;

  @include tablet {
    height: 140px;

    .nav-icon {
      display: none;
    }
  }

  .site-branding {
    @include flex(row nowrap, flex-start, center);
    letter-spacing: 1px;
    padding: 1rem;

    @include tablet {
      padding-bottom: 0;
    }

    a {
      width: 100%;

      .logo-main {
        display: flex;
        margin: auto;
        padding-bottom: 1rem;
        width: 200px;

        @include tablet {
          width: 250px;
        }
      }
    }
  }
}

.login {
  align-self: center;

  a {
    color: $color__white;
    font-family: $font__main-med;
    font-size: 21px;

    &:hover {
      color: $secondary__color;
      font-size: 22.5px;
    }
  }

  @include tablet {
    font-size: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    a {
      color: $primary__color;
      font-family: $font__sec-semibold;
      font-size: 1rem;

      &:hover {
        color: $secondary__color;
        font-size: 1rem;
      }
    }
  }
} // end of .login

.main-navigation .menu {
  @include flex(column nowrap, space-between, center);
  margin: auto;

  @include tablet {
    @include flex(row nowrap, space-between, center);
    // display: block;
    margin: auto;
    max-width: 975px;
  }
}

/* 
 * Mobile Menu Slide 
 */

.menu-slide {
  max-width: 100%;
  width: $tablet-width;
  position: fixed;

  left: -400px;
  margin: auto;
  height: 100vh;
  top: 0px;
  transition: all 0.5s ease-in-out;
  z-index: 10;

  @include tablet {
    display: none;
  }

  .main-navigation {
    @include flex(column nowrap, space-evenly, center);
  }

  nav {
    ul {
      li {
        min-height: 75px;
        // list-style-type: none;
        // text-align: center;
        // line-height: 70px;
        transition: all 0.5s ease;

        &:hover {
          // background-color: $red;
          transition: all 0.5s ease;
        }

        a {
          color: $color__white;
          font-family: $font__main-med;
          font-size: 26px;
          text-decoration: none;
        }
      } /* end of li */
    } /* end of ul */

    .sub-menu {
      padding-top: 0;
      li {
        min-height: 25px;
      }
      a {
        font-size: 18px;
        padding-top: 0.3rem;
      }
    }
  } /* end of nav */
} /* end of menu-slide */

.menu-slide.show {
  left: 0px;
  background-color: $primary__color;
  transition: all 0.3s ease-in-out;
}

/* 
 * Nav Icon 
 */

* {
  margin: 0;
  padding: 0;
}

.nav-icon {
  // background-color: rgba(255, 255, 255, 0.2);
  height: 33px;
  width: 33px;
  position: fixed;
  padding-top: 1rem;
  padding-left: 1rem;
  z-index: 1000;

  // margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $color__text-main;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;

  &:hover {
    background: $primary__color;
  }
}

.nav-icon span:nth-child(1) {
  top: 0px;
  &:hover {
    color: $primary__color;
  }
}

.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
  top: 9px;

  &:hover {
    color: $primary__color;
  }
}

.nav-icon span:nth-child(4) {
  top: 18px;
  &:hover {
    color: $primary__color;
  }
}

.nav-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: $color__white;
}

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: $color__white;
}

.nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
