// Button#
@mixin button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid $secondary__color;
  color: white;
  border-radius: 25px;
  background: $secondary__color;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 1s;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 8px #9FC984;
    background-color: #9FC984;
    border: #9FC984;

    &:after {
      width: 0%;
    }
  }
}

// Structure
@mixin flex($flexflow, $justify, $align) {
  display: flex;
  flex-flow: $flexflow;
  justify-content: $justify;
  align-items: $align;
}

/* Ex of how to include this in scss:
 * "@include flex(row wrap, center, flex-start);" */

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Height and Width

@mixin heightandwidth($height, $width) {
  height: $height;
  width: $width;

}
