.page-id-68 {
  .entry-title {
    text-align: center;
  }

  .wp-block-embed-vimeo {
    margin: 0;
    iframe {
      width: auto;
      height: auto;
      @include tablet {
        width: 640px;
        height: 360px;
        transform: translateX(-10px);
      }
      @include desktop {
        width: 1000px;
        height: 639px;
      }
    }
  }

  .wp-block-button {
    margin: 3rem 0;
    @include tablet {
      margin-bottom: 0;
    }

    a {
      @include button;
    }
  }

  .wp-block-image {
    //this is the svg line
    display: none;
    @include tablet {
      // margin-top: -8px;
      // margin-bottom: 0;
      // margin-left:7%;
      margin: -8px 0 0 7%;
      display: block;
      position: relative;
      transform: translate(-4.5%, 0);
    }
    @include desktop {
      transform: translate(-7.5%, 0);
    }

    img {
      @include tablet {
        // transform: scale(0.8) translateY(-206px);
        height: inherit;
      }
      @include desktop {
      }
    }
  }

  .campaign-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      position: absolute;
      flex-direction: row;
    }
    img {
      margin-bottom: 1.5rem;
      width: 70%;
      @include tablet {
        width: 20%;
      }
      @include desktop {
        // width: 22%;
        width: 200px;
      }
    }

    .campaign-text {
      display: flex;
      flex-direction: column;
      @include tablet {
        align-items: flex-start;
      }
      p {
        text-align: center;
        font-size: $main-paragraph__mobile;
        @include tablet {
          font-size: 16px;
          text-align: left;
        }
      }
      h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 1.5rem;
        @include tablet {
          text-align: left;
          font-size: 20px;
        }
      }
    }
  } //end of campaign features

  .campaign-features:nth-child(1) {
    @include tablet {
      top: 870px;
      flex-direction: row-reverse;
    }

    @include bigTablet {
      top: 940px;
      left: 0;
    }
    @include desktop {
      top: 1253px;
      left: 125px;
      right: 340px;
    }
    img {
      @include tablet {
        //width: 20%;
        //margin-left: 20%;
        //margin-right: 8%;
      }
      @include bigTablet {
        margin-right: 10%;
      }
      @include desktop {
        //width: 16%;
        //margin-left: 20%;
        margin-right: 0;
      }
    }

    .campaign-text {
      h2 {
        @include tablet {
          margin-left: 5%;
        }
        @include bigTablet {
          margin-left: 15%;
        }
      }
      p {
        @include tablet {
          font-size: 16px;
          width: 56%;
          margin-left: 5%;
          line-height: 1.5;
        }
        @include bigTablet {
          margin-left: 15%;
        }
      }
    }
  }

  .campaign-features:nth-child(2) {
    @include tablet {
      top: 1190px;
      left: 6px;
    }
    @include bigTablet {
      top: 1240px;
      left: 0;
    }
    @include desktop {
      top: 1600px;
      left: 205px;
      right: 120px;
    }

    img {
      @include tablet {
        margin-right: 3%;
      }
      @include bigTablet {
        margin-left: 10%;
      }
      @include desktop {
        // padding-right: 54px;
        margin-left: 4%;
      }
    }

    .campaign-text {
      h2 {
        @include tablet {
          // align-self: center;
        }
        @include desktop {
          align-self: flex-start;
        }
      }
      p {
        @include tablet {
          width: 95%;
        }
        @include bigTablet {
          width: 90%;
        }
      }
    }
  }

  .campaign-features:nth-child(3) {
    @include tablet {
      top: 1580px;
      flex-direction: row-reverse;
    }
    @include bigTablet {
      top: 1630px;
      left: 10px;
    }
    @include desktop {
      top: 1957px;
      left: 120px;
      right: 330px;
    }

    img {
      @include tablet {
        //width: 20%;
        //margin-left: 5%;
        //margin-right: 3%;
      }
      @include bigTablet {
        margin-right: 10%;
      }
      @include desktop {
        margin-right: 0;
      }
    }

    .campaign-text {
      h2 {
        @include tablet {
          margin-left: 5%;
        }
        @include bigTablet {
          margin-left: 15%;
        }
        @include desktop {
          align-self: flex-start;
        }
      }
      p {
        // width: 76%;
        @include tablet {
          width: 90%;
          margin-left: 5%;
        }
        @include bigTablet {
          width: 70%;
          margin-left: 15%;
        }
      }
    }
  }

  .campaign-features:nth-child(4) {
    @include tablet {
      top: 1910px;
    }
    @include bigTablet {
      top: 1960px;
      left: 40px;
      right: 40px;
    }
    @include desktop {
      top: 2320px;
      left: 205px;
      right: 120px;
    }

    img {
      @include tablet {
        //width: 25%;
        //margin-right: 5%;
        //margin-left: 3%;
      }
      @include bigTablet {
        margin-left: 10%;
      }
      @include desktop {
        // padding-right: 54px;
        //width: 12%;
        margin-right: 5%;
        margin-left: 0;
      }
    }

    .campaign-text {
      @include tablet {
        margin-left: 5%;
      }
      @include desktop {
        margin-left: 0;
      }
      p {
        text-align: left;
      }
    }
  }

  .button-bottom {
    display: none;
    @include tablet {
      display: block;
      margin-top: -10px;
    }
  }
}

//page-id-68
