/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Our Team */

.team-page {
  padding-bottom: 2rem;

  @include tablet {
    @include flex(row wrap, space-evenly, flex-start);
    margin: auto;
    padding-bottom: 4rem;
    // max-width: 1170px;
  }
}

.team-member {
  @include flex(column nowrap, flex-start, center);

  margin: 0 auto;
  padding: 0 1rem;

  height: 325px;
  width: 265px;

  @include tablet {
    flex-basis: auto;
    margin: 0;

    height: 360px;
    min-width: 300px;
  }

  @include desktop {
    width: 300px;
    // height: 450px;
  }

  .member-img {
    height: auto;
    width: 200px;

    @include tablet {
      min-width: 200px;
      max-width: 300px;
    }

    img {
      border: 5px solid $primary__color;
      border-radius: 50%;
      overflow: hidden;
      //   width: auto;
    }
  }

  .member-name {
    color: $black;
    font-family: $font__main-bold;
    font-size: 22px;

    @include desktop {
      font-size: 26px;
    }
  }
  .member-role {
    color: $color__text-main;
    font-family: $font__main;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    @include tablet {
      font-size: 18px;
    }

    @include desktop {
      font-size: 20px;
      max-width: 300px;
    }
  }
}

.tedx-video {
  @include flex(column nowrap, space-between, center);
  margin: auto;
  //   padding-top: 4rem;

  @include tablet {
    @include flex(row-reverse nowrap, center, center);
    padding-bottom: 5rem;
    // height: 670px;
    //   width: auto;
  }

  iframe {
    //   box-shadow: none;
    height: 270px;
    width: 100%;

    @include tablet {
      //   padding-right: 1rem;
      height: 350px;
      // max-width: 670px;
    }

    @include desktop {
      padding: 0;
      height: 370px;
      width: 670px;
    }
  }

  .tedx-content {
    text-align: center;
    padding-right: 0 1rem;
    // width: 270px;

    h1 {
      margin: 1rem 0;
    }

    @include tablet {
      text-align: left;
      padding-right: 1rem;
      width: 470px;
    }

    @include desktop {
      padding-right: 2rem;
    }
  }
}
.ytp-icon-large-play-button {
  display: none;
}
