/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Our Team */

.team-page {
  padding-bottom: 2rem;

  @include tablet {
    @include flex(row wrap, space-evenly, flex-start);
    margin: auto;
    padding-bottom: 4rem;
    max-width: 1170px;
  }
}

.team-member {
  @include flex(column nowrap, flex-start, center);
  margin: 0 auto;
  height: 325px;
  width: 265px;

  @include tablet {
    height: 445px;
    margin: 0;
  }

  .member-img {
    height: auto;
    width: 200px;
    @include tablet {
      width: auto;
    }

    img {
      border: 5px solid $primary__color;
      border-radius: 50%;
      overflow: hidden;

      //   height: 100%;
      // margin-right: 1.5rem;
      width: auto;
    }
  }

  .member-name {
    color: $black;
    font-family: $font__main-bold;
    font-size: 22px;

    @include tablet {
      font-size: 28px;
    }
  }
  .member-role {
    color: $color__text-main;
    font-family: $font__main;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    @include tablet {
      font-size: 22px;
      max-width: 300px;
    }
  }
}

.tedx-video {
  @include flex(column nowrap, space-between, center);
  margin: auto;
  padding: 4rem 0;
  //   max-width: 1080px;

  @include tablet {
    @include flex(row-reverse nowrap, center, center);
    padding-bottom: 5rem;
    // height: 670px;
    //   width: auto;
  }

  iframe {
    //   box-shadow: none;
    height: 220px;
    width: 100vw;

    @include tablet {
      padding-right: 1rem;

      height: 300px;
    }

    @include desktop {
      padding: 0;
      height: 420px;
      width: 670px;
    }
  }

  .tedx-content {
    text-align: center;
    padding: 0 1rem;
    // width: 270px;

    @include tablet {
      text-align: left;
      padding-right: 1rem;
      width: 470px;
    }
  }
}
.ytp-icon-large-play-button {
  display: none;
}
