/*--------------------------------------------------------------
# our company  and our fonder
--------------------------------------------------------------*/

.page-template-page-our-company,
.page-template-page-our-founder {
    .site-content {
        h2 {
            color: black;
        }

        padding: 10px 20px;

        .main-carousel {


            ol {

                padding: 20px 0px;
            }

            .carousel-cell {
                @include heightandwidth (null, 100%);

                h3 {
                    font-size: 36px;
                    color: black;
                }

                p {
                    padding-bottom: 30px;
                }
            }

            button {
                display: none;
            }
        }
    }
}



@include tablet {

    .our-company {
        border: green solid;
        display: flex;
    }

    .founder-img {
        border: solid red;
        @include heightandwidth(null, 30%);
    }

    .our-company-text {
        border: solid blue;
        @include heightandwidth(null, 70%);
    }

    .main-carousel {

        .carousel-cell {

            @include heightandwidth(null, 33.3333%);
        }



    }


}


/*--------------------------------------------------------------
# our founder
--------------------------------------------------------------*/