.our-founder-container {
  @include flex(column nowrap, center, center);
  text-align: center;

  @include desktop {
    @include flex(row nowrap, center, center);
    text-align: left;
    padding-bottom: 10%;
  }

  h2 {
    font-size: $main-header__mobile;
    padding: 20px 0;
  }

  p {
    font-size: $main-paragraph__mobile - 7;
  }

  img {
    max-width: 300px;

    @include desktop {
      margin: 0 2rem 0 6rem;
      max-width: 400px;

    }
  }
}


.our-company-info {
  @include desktop {
    h2 {
      padding: 0;
      padding-bottom: 25px;
    }

    p {
      width: 80%;
    }
  }
}

.main-carousel {
  text-align: center;
  @include flex(column nowrap, center, null);

  @include desktop {

    @include flex(row nowrap, center, null);
  }

}

.carousel-cell {
  width: 100%;
  text-align: center;

  @include desktop {

    padding: 10px 0;
    margin: 25px 10px;

    p {
      max-width: 80%;
      margin: $margin__auto;

    }
  }

  h2 {

    color: $black;
    font-size: $main-header__mobile;
  }

  img {
    max-width: 400px;

  }

}