/*--------------------------------------------------------------
# our company  and our fonder
--------------------------------------------------------------*/

.page-template-page-our-company,
.page-template-page-our-founder {
    .site-content {
        h2 {
            color: black;
        }





        .main-carousel {


            ol {

                padding: 20px 0px;
            }

            .carousel-cell {
                @include heightandwidth (null, 100%);

                h3 {
                    font-size: 36px;
                    color: black;
                }

                p {
                    padding-bottom: 30px;
                }
            }

            button {
                display: none;
            }
        }
    }
}

@include tablet {
    .site-content {



        .our-company {

            display: flex;
            margin: 60px;

            h2 {
                text-align: left;
                font-size: 30px;

                height: auto;

            }
        }

        .founder-img {

            @include heightandwidth(null, 50%);
            margin: 0px;
        }

        .our-company-text {


            @include heightandwidth(null, 70%);

            p {
                text-align: left;
                font-size: 16px;

                margin: 0px;
            }
        }



        .main-carousel {
            border: solid blue;

            .carousel-cell {
                @include heightandwidth(null, 33.3333%);
            }
        }


    }
}





/*--------------------------------------------------------------
# our founder
--------------------------------------------------------------*/