/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Our Team */

.team-page {
  padding-bottom: 3rem;

  @include tablet {
    @include flex(row wrap, space-evenly, flex-start);
    margin: auto;
    // padding-bottom: 3rem;
  }
}

.team-member {
  @include flex(column nowrap, flex-start, center);

  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 0.3rem;

  height: 350px;
  width: 265px;

  @include tablet {
    flex-basis: auto;
    margin: 0;
    height: 360px;
  }

  @include desktop {
    width: 300px;
    height: 400px;
  }

  .member-img {
    height: auto;
    // max-width: 250px;
    border: 5px solid $primary__color;
    border-radius: 50%;
    overflow: hidden;

    @include tablet {
      height: 250px;
      min-width: 200px;
      width: 250px;
    }

    img {
      // height: 100%;
      transform: scale(1.2);
    }
  }

  .member-name {
    color: $black;
    font-family: $font__main-bold;
    font-size: 22px;

    @include desktop {
      font-size: 26px;
    }
  }
  .member-role {
    color: $color__text-main;
    font-family: $font__main;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    @include tablet {
      font-size: 18px;
    }

    @include desktop {
      font-size: 20px;
      max-width: 300px;
    }
  }
}

.tedx-video {
  @include flex(column nowrap, space-between, center);
  margin: auto;

  @include tablet {
    @include flex(row-reverse nowrap, center, center);
  }

  iframe {
    min-height: 230px;
    max-height: 260px;
    width: 100%;

    @include tablet {
      min-height: 290px;
      max-height: 500px;
      width: 550px;
    }

    @include desktop {
      padding: 0;
      min-height: 300px;
      max-height: 400px;
      max-width: 670px;
    }
  }

  .tedx-content {
    text-align: center;
    padding: 0 1rem;

    h1 {
      margin: 1rem 0;
    }

    @include tablet {
      text-align: left;
      padding-right: 1rem;
      width: 470px;
    }

    @include desktop {
      padding-right: 2rem;
    }
  }
}
