/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Testimony */
.page-title {
  font-size: $main-header__mobile - 7;
  // padding-top: 1rem;
  text-align: center;
  @include tablet {
    font-size: $main-header__desktop;
    // padding-top: 3rem;
  }
}
.testimony {
  font-size: 18px;
  @include flex(column nowrap, flex-start, center);
  padding: 0 1rem;
  height: 424px;
  width: 100%;

  @include tablet {
    @include flex(row nowrap, space-around, center);
    background-color: $box__background;
    border-radius: 25px;
    color: $color__white;
    font-size: 28px;
    padding: 0 3rem;

    overflow: hidden;
    // width: 975px;
  }

  @include desktop {
    padding: 0 5rem;
  }

  .testimony-img {
    height: auto;
    padding-bottom: 1rem;
    width: 215px;

    @include tablet {
      padding-bottom: 0;
      padding-right: 3rem;
      width: auto;
    }

    @include desktop {
      //   padding-right: 0;
    }
  }
  img {
    border-radius: 27px;
  }

  .testimony-content {
    // padding: 0 1rem;
    text-align: center;
    min-width: 280px;
    max-width: 669px;

    @include tablet {
      padding: 0;
      text-align: left;
      width: 500px;
    }

    @include desktop {
      width: 669px;
    }
  }
}

.testimony-carousel {
  margin: auto;

  @include tablet {
    max-width: 1240px;
  }

  .flickity-page-dots {
    top: 98%;
    // margin-top: 1rem;
    // margin-bottom: 1rem;

    @include tablet {
      top: 90%;
      //   margin-top: 0;
      //   margin-bottom: 3.5rem;
    }

    @include desktop {
      top: 85%;
    }

    .is-selected {
      background: $primary__color;
    }
  }
}

/*--------------------------------------------------------------
# single-courses
--------------------------------------------------------------*/

.single-course {
  .entry-title,
  .entry-content h2 {
    text-align: left;
    left: 20%;
  }
}
