// Structure

$base__space-unit: 1.5rem;
$color__border-abbr: 1px dotted black;
$color__background-ins: purple;
$color__background-hr: green;
$color__background-screen: red;
$margin__auto: 0 auto;

$desktop-width: 1240px;
$tablet-width: 600px;

// Main Colors
$primary__color: #52b0cc;
$secondary__color: #b4de96;

// Background Colors
$box__background: #aacbd8;
$color__background-body: #f0f3f8;
$color__background-pre: yellow;

// Text Color
$color__text-main: #787878;
$color__text-screen: royalblue;
$color__white: #fff;
$black: #000;

$color__link: #9ec284;
$color__link-hover: white;
$button__hover: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
$color__link-visited: yellowgreen;

$border-active: 2px solid #52b0cc;
$border-hover: 2px solid #b5ccdb;

// Typography

$font__main: 'Quicksand', sans-serif;
$font__main-bold: 'Quicksand-Bold', sans-serif;
$font__main-light: 'Quicksand-Light', sans-serif;
$font__main-med: 'Quicksand-Medium', sans-serif;
$font__secondary: 'Muli', sans-serif;
$font__sec-semibold: 'Muli-SemiBold', sans-serif;
$font__code: 'Muli-Bold', 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Quicksand', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
