.widget {
  margin: 0 0 $base__space-unit;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

/* Footer */

.site-footer {
  background-color: $primary__color;
  @include flex(column, null, center);
  padding-top: 20px;


  ul {
    list-style: none;
    margin: 0;
    padding: 0px;
  }

  a {
    text-decoration: none;
    color: $color__white;
    display: block;
    margin: 5px;
  }

  .footer-navigation {
    text-align: center;
    letter-spacing: 2px;

  }

  h6 {
    color: $color__white;
    margin: 0;
    letter-spacing: 0.5px;
  }

  .social-media-icon {
    padding-top: 10px;

    ul {
      @include flex(row, null, center);

      a {
        margin: 0px 25px;
      }
    }
  }

}

/*footer tablet*/

@include tablet {
  .site-footer {

    @include flex(row, null, center);
    position: relative;
    @include heightandwidth(120px, 100%);

  }

  .site-footer .social-media-icon {
    order: 1;
    @include flex(row, null, flex-start);
    font-size: 40px;
    @include heightandwidth(100%, auto);

    ul {
      a {

        margin: 0px 15px;
      }
    }
  }

  .footer-navigation {
    order: 2;
    @include heightandwidth(100%, 100%);




    ul {
      @include flex(row, space-evenly, flex-start);
      @include heightandwidth(100%, 100%);
      padding-bottom: 40px;


    }

    a {

      text-transform: uppercase;
    }
  }


  h6 {

    order: 3;
    position: absolute;
    bottom: 0px;
    text-align: center;
    @include heightandwidth(null, 100%);
    font-size: 16px;
    padding: 10px 0px 5px 0px;
  }

}

/*footer desktop*/
@include desktop {
  .site-footer {

    .social-media-icon {

      padding: 10px 40px;
      width: 20%;
      margin-left: 30px;


    }

    .footer-navigation {
      padding-top: 10px;
      position: relative;
      left: 30px;
      width: 50%;
      margin-left: 20px;

    }


  }







}