.widget {
  margin: 0 0 $base__space-unit;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

/* Footer */

.site-footer {
  background-color: $primary__color;
  @include flex(column, center, center);
  // padding-top: 20px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0px;
  }

  a {
    text-decoration: none;
    color: $color__white;
    font-family: $font__secondary;
    display: block;
    margin: 5px;
  }

  .footer-navigation {
    text-align: center;
    letter-spacing: 2px;
    padding-top: 1rem;

    @include tablet {
      padding-top: 0;
    }

    ul {
      @include desktop {
        width: 800px;
      }

      a {
        &:hover {
          border-bottom: $border-hover;
        }
      }
    }
  }

  h6 {
    color: $color__white;
    letter-spacing: 0.5px;
    margin: 0;

    @include tablet {
      padding-bottom: 0.5rem;
    }
  }

  .social-media-icon {
    font-size: 20px;
    padding: 0.5rem 0;

    @include tablet {
      padding: 0;
    }

    ul {
      @include flex(row nowrap, space-between, center);

      @include tablet {
        @include flex(row nowrap, flex-start, center);
      }

      li {
        padding: 0 5px;

        @include desktop {
          padding: 0 20px;
        }
      }

      a {
        border: white solid 1px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        // padding: 2px;

        &:hover {
          border: $secondary__color solid 1px;
          color: $secondary__color;
        }

        @include tablet {
          border: white solid 1.5px;
          padding: 0;
          height: 45px;
          width: 45px;

          &:hover {
            border: $secondary__color solid 2px;
          }
        }

        .far,
        .fab {
          // background-color: $primary__color;
          @include tablet {
          }
        }
      }
    }
  }
}

/*footer tablet*/

@include tablet {
  .site-footer {
    @include flex(row, null, center);
    position: relative;
    @include heightandwidth(130px, 100%);

    .social-media-icon {
      order: 1;
      font-size: 30px;
      // @include heightandwidth(100%, auto);
      position: absolute;
      left: 0;
    }
  }

  .footer-navigation {
    order: 2;
    @include heightandwidth(100%, 100%);

    ul {
      @include flex(row, space-evenly, center);
      @include heightandwidth(100%, 100%);
      margin: auto;
      // padding-bottom: 40px;
      width: 600px;
    }

    a {
      text-transform: uppercase;
    }
  }

  h6 {
    order: 3;
    position: absolute;
    bottom: 0px;
    text-align: center;
    @include heightandwidth(null, 100%);
    font-size: 16px;
    padding: 10px 0px 5px 0px;
  }
}

/*footer desktop*/
// @include desktop {
//   .site-footer {
//     .social-media-icon {
//       padding: 10px 40px;
//       width: 20%;
//       margin-left: 30px;

//       ul {
//         li {
//           height: auto;
//           width: 45px;
//         }
//         a {
//           margin: 0px 25px;
//         }
//       }
//     }

//     .footer-navigation {
//       padding-top: 10px;
//       position: relative;
//       left: 30px;
//       width: 50%;
//       margin-left: 20px;
//     }
//   }
// }
