/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}


.entry-content {
  text-align: center;
  margin: 0 auto;

  h2 {
    font-weight: bolder;
    font-size: 42px;
    padding: 25px 0;
    @include desktop {
      font-size: 48px;

    }
  }

  p {
    padding: 15px 0;
    margin: $margin__auto;
    max-width: $desktop-width;
    font-size: 22px;
    @include desktop {
      font-size: 28px;
      max-width: $desktop-width;
    }
  }

}