/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.banner-header {
  text-align: center;
  margin-bottom: 2.2rem;

  h1 {
    padding-bottom: 25px;
    margin: 0 auto;
    font-family: 'Quicksand-Light', sans-serif;
    font-size: 2.7rem;
  }

  @include desktop {
    top: 37%;
    left: 2%;
    position: absolute;
    color: $color__white;
    text-align: inherit;
  }
}


.founder-container, .solutions-container {
  text-align: center;
  margin-bottom: 2.2rem;

  h1 {
    font-size: 35px;
  }

  img {
    width: 91%;
    margin-bottom: 15px;
  }

  p {
    width: 86%;
    font-size: 22px;
    margin: 0 auto;
  }
}


.founder-container {
  @include desktop {
    text-align: inherit;
    position: absolute;
    top: 170%;
    left: 6%;
    width: 36%;
  }

}

.solutions-container {
  @include desktop {
    width: 86%;
    margin: $margin__auto;
    div {
      @include flex(row nowrap, center, center);
    }
    img{
      width: 50%;
    }

  }
}

.checkmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-bottom: 25px;

  &:before {
    content: "";
    height: 1px;
    width: 50%;
    border-top: 2px solid $secondary__color;
  }

  &:after {
    content: "";
    height: 1px;
    width: 50%;
    border-bottom: 2px solid $secondary__color;
  }

}

.front-page-check-mark {
  @include flex(row wrap, flex-start, center);
  width: 111%;
  justify-content: center;

  h2 {
    margin-left: 10px;
    width: 60%;
    font-size: 21px;
  }
}


.campaign-container {
  @include flex(column wrap, center, center);
  margin-bottom: 25px;

  p {
    text-align: center;
    width: 81%;
    font-size: 22px;
  }

  h2 {
    text-align: center;
    font-size: 42px;
    width: 72%;
    font-weight: bolder;
    margin-top: auto;
  }

  .campaign-logo {
    margin: 30px auto;
    height: 150px;
    width: auto;
  }
}


.view-courses {
  @include flex(column wrap, center, center);
  margin-bottom: 25px;
}

.banner-image-desktop {
  display: none;
  @include desktop {
    display: block;
  }
}

.banner-image-mobile {
  @include desktop {
    display: none;
  }
}

.vp-video-wrapper, .transparent {
  border-radius: 25px;
}

.front-page-video-container {
  @include flex(column wrap, center, center);
  @include desktop {
    @include flex(column wrap, flex-end, flex-end);
  }

}

.front-page-video {
  width: 285px;
  height: 162px;
  top: 0;
  left: 0;
  @include desktop {
    height: 300px;
    width: 500px;
  }

}

