/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.banner-header{
  text-align: center;
  margin-bottom: 2.2rem;
  h1{
    font-family: 'Quicksand-Light', sans-serif;
    font-size: 2.7rem;
  }
}

