/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.banner-header {
  text-align: center;
  margin-bottom: 2.2rem;

  h1 {
    padding-bottom: 25px;
    margin: 0 auto;
    font-family: 'Quicksand-Light', sans-serif;
    font-size: 2.7rem;
  }

  @include desktop {
    top: 37%;
    left: 2%;
    position: absolute;
    color: $color__white;
    text-align: inherit;
  }
}

.founder-container, .solutions-container {
  text-align: center;
  margin-bottom: 2.2rem;

  h1 {
    font-size: 35px;
  }

  img {
    width: 91%;
  }

  p {
    font-size: 22px;
  }
}

.checkmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-bottom: 25px;

  &:before {
    content: "";
    height: 1px;
    width: 50%;
    border-top: 2px solid $secondary__color;
  }

  &:after {
    content: "";
    height: 1px;
    width: 50%;
    border-bottom: 2px solid $secondary__color;
  }

}

.front-page-check-mark {
  padding: 16px 0;
  @include flex(row wrap, flex-start, center);
  width: 100%;
  justify-content: center;

  h2 {
    margin-left: 10px;
    width: 54%;
    font-size: 19px;
  }
}


.campaign-container {
  @include flex(column wrap, center, center);
  margin-bottom: 25px;

  p {
    text-align: center;
    width: 69%;
    font-size: 18px;
  }

  h2 {
    text-align: center;
    font-size: 29px;
    width: 44%;
    font-weight: bolder;
    margin-top: auto;
  }

  .campaign-logo {
    margin: 30px auto;
    height: 150px;
    width: auto;
  }
}


.view-courses {
  @include flex(column wrap, center, center);
  margin-bottom: 25px;
}

.banner-image-desktop {
  display: none;
  @include desktop {
    display: block;
  }
}

.banner-image-mobile {
  @include desktop {
    display: none;
  }
}

.vp-video-wrapper, .transparent {
  border-radius: 25px;
}