.site-header {
  height: 60px;
  padding-top: 1rem;
  @include tablet {
    height: 160px;
  }

  .site-branding {
    @include flex(null, flex-start, null);
    letter-spacing: 1px;
    @include tablet {
      position: relative;
    }
    a {
      width: 100%;
      .logo-main {
        display: flex;
        justify-content: center;
        height: auto;
        margin: auto;
        width: 150px;
        @include tablet {
          width: 254px;
        }
      }
    }
  }
}
.login {
  color: $color__white;
  @include tablet {
    color: $primary__color;
    font-family: $font__sec-semibold;
    postition: absolute;
    text-transform: uppercase;
  }
}

// .menu {
//   display: none;
// }

.menu-header-container {
  display: flex;
  justify-content: center;
}

// hamburger
.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 18px;
}

.hamburger span:nth-child(4) {
  top: 36px;
}

.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
