.site-header {
  height: 60px;
  // padding-top: 0.75rem;
  position: relative;

  @include tablet {
    height: 140px;

    .nav-icon {
      display: none;
    }
  }

  .site-branding {
    @include flex(row nowrap, flex-start, center);
    letter-spacing: 1px;
    padding: 1rem;

    @include tablet {
      padding-bottom: 0;
    }

    a {
      width: 100%;

      .logo-main {
        display: flex;
        margin: auto;
        width: 150px;

        @include tablet {
          width: 250px;
        }
      }
    }
  }
}

.login {
  // background: $primary__color;
  position: absolute;
  a {
    // color: $color__white;
    text-decoration: none;
    text-transform: uppercase;
  }

  @include tablet {
    padding-right: 1rem;
    padding-top: 1rem;
    right: 0;
    top: 0;
    a {
      color: $primary__color;
      font-family: $font__sec-semibold;

      &:hover {
        color: $color__link-hover;
      }
    }
  }
}

/* 
 * Nav Icon 
 */

* {
  margin: 0;
  padding: 0;
}

.nav-icon {
  width: 33px;
  position: relative;
  top: 0;
  padding-top: 1rem;
  padding-left: 1rem;

  // margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $color__text-main;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0px;
}

.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
  top: 9px;
}

.nav-icon span:nth-child(4) {
  top: 18px;
}

.nav-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: $primary__color;
}

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: $primary__color;
}

.nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
