.logo-main {
  width: 200px;
}

ul.menu {
  display: flex;
}

.responsive-menu-slide-top {
  .slide-top {
    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
