// Button
@mixin button {
  background: $secondary__color;
  border-radius: 25px;
  color: $color__white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  &:hover {
    background: $color__link-hover;
  }
}

// Structure
/* Ex of how to include this in your scss:
 * "@include flex(row wrap, center, flex-start);" */
@mixin flex($flexflow, $justify, $align) {
  display: flex;
  flex-flow: $flexflow;
  justify-content: $justify;
  align-items: $align;
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
