/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;

  &:visited {
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

/* Menus */

.main-navigation {
  // clear: both;
  // display: block;
  // float: left;
  padding: 2rem 0;
  width: 100%;

  a {
    background: $primary__color;
    color: $color__white;
    // display: block;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;

    @include tablet {
      color: $color__text-main;
      background: $color__background-body;
      padding: 0 2rem;
      &:focus {
        border-bottom: $border-active;
      }
      &:hover {
        border-bottom: $border-hover;
      }
    }
    @include desktop {
      font-size: 1.5rem;
    }
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      border-bottom: none;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      font-family: $font__main-light;

      top: $base__space-unit;
      left: -999rem;

      z-index: 99999;

      ul {
        left: -999rem;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    // float: left;
    // position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: none;
    @include tablet {
      display: flex;
    }
  }
}

.sub-menu {
  display: flex;
  flex-direction: column;

  a {
    border-left: 1px solid #52b0cc;
    border-right: 1px solid #52b0cc;
    border-top: 1px solid #52b0cc;

    &:hover,
    &:focus {
<<<<<<< HEAD
      background: border-bottom: transparent;
=======
      // background: $primary__color;
      border-bottom: transparent;
>>>>>>> babadd23946993fc426668c1becfe0d74097299f
    }
  }

  li {
    &:last-child a {
      border-bottom: 1px solid #52b0cc;
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
