/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;

  &:visited {
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

/* 
 * Mobile Menu Slide 
 */

.menu-slide {
  max-width: 100%;
  width: $tablet-width;
  left: -400px;
  margin: auto;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  transition: all 0.5s ease-in-out;
  @include tablet {
    display: none;
  }

  .main-navigation {
    @include flex(column nowrap, space-around, center);
  }

  nav {
    ul {
      li {
        height: 70px;
        // list-style-type: none;
        // text-align: center;
        // line-height: 70px;
        transition: all 0.5s ease;

        &:hover {
          // background-color: $red;
          transition: all 0.5s ease;
        }

        a {
          color: $color__white;
          font-family: $font__main-med;
          font-size: 26px;
          text-decoration: none;
        }
      } /* end of li */
    } /* end of ul */

    .sub-menu {
      padding-top: 0;
      li {
        height: 30px;
      }
      a {
        font-size: 18px;
      }
    }
  } /* end of nav */
} /* end of menu-slide */

.menu-slide.show {
  left: 0px;
  background-color: $primary__color;
  transition: all 0.3s ease-in-out;
}

/* 
 * Menus 
 */

.main-navigation {
  display: none;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;

  @include tablet {
    background: transparent;
    display: block;
    margin: auto;
    height: auto;

    li.current-menu-item {
      a {
        border-bottom: $border-active;
        &:hover {
          border-bottom: $border-active;
        }
      }
    }
    .menu-item-has-children {
      &:active {
        border-bottom: $border-active;
      }
    }
  }

  a {
    // color: $color__white;
    // font-family: $font__main-med;
    // font-size: 26px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @include tablet {
      color: $color__text-main;
      background: $color__background-body;
      font-family: $font__secondary;
      font-size: 1rem;
      padding: 0 0.6rem;
      padding-bottom: 2px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0;

    @include tablet {
      @include flex(row nowrap, space-between, flex-start);
    }

    a {
      @include flex(column nowrap, center, center);
    }

    ul {
      // @include flex(column nowrap, center, center);
      // border-bottom: none;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      font-family: $font__main-light;
      position: absolute;
      // top: $base__space-unit;
      left: -999rem;
      z-index: 1000;

      ul {
        left: -999rem;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: -100%;
        }

        a {
          font-size: 18px;
          text-transform: capitalize;
          @include tablet {
            font-size: 1rem;
            text-transform: uppercase;
          }
        }

        @include tablet {
          // border: $border-active;
          font-family: $font__main;
          padding: 0.5rem 0.5rem;

          &:hover a {
            background: $primary__color;
            border-bottom: transparent;
            color: $color__white;
          }
        }
      } // end of ul^3 li

      a {
        @include tablet {
          color: $color__text-main;
          font-size: 1rem;
          // width: 100%;
        }
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    } // end of ul ul

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  } // end of ul

  li {
    // float: left;
    position: relative;
    padding: 1rem 0;

    &:hover > a,
    &.focus > a {
    }

    a {
      &:hover {
        border-bottom: 2px solid $secondary__color;

        @include tablet {
          border-bottom: $border-hover;
        }
      }
    }
  } // end of li

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
} // end of .main-navigation

.menu-header-container {
  @include tablet {
    margin: auto;
    width: 100%;
  }

  @include desktop {
    width: 975px;
  }
}

/* Small menu. */

ul.sub-menu {
  @include tablet {
    background: $color__background-body;
    display: flex;
    flex-direction: column;

    a {
      width: 100%;
      &:hover,
      &:focus {
        background: $primary__color;
      }
    }

    li {
      border: 1px solid #52b0cc;
      // border-bottom: transparent;
      padding: 0.25rem 1rem;
      width: 175px;

      &:hover {
        background: $primary__color;
        color: $color__white;
      }
    }

    .current-menu-item {
      a {
        border-bottom: transparent;
        color: $primary__color;
        font-family: $font__sec-semibold;
        &:hover {
          border-bottom: $color__white;
        }
      }
    }
  }
}

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    // display: none;
  }

  .main-navigation ul {
    // display: none;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
