/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  margin: 0 0 $base__space-unit;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}


/* Footer */

.site-footer {

  background-color: $primary__color;
  @include flex(column, null, center);
  padding-top: 20px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0px;
  }

  a {
    text-decoration: none;
    color: $color__white;
    display: block;
    margin: 5px;

  }

  .footer-navigation {

    text-align: center;
    letter-spacing: 2px;
  }

  h6 {
    color: $color__white;
    margin: 0px;
    letter-spacing: 0.5px;
  }

  .social-media-icon {

    ul {

      padding-top: 10px;
      display: flex;

    }

    li {
      @include flex(flex-start, null, null);

    }

    a {
      margin: 0px 25px;
      font-size: 25px;
    }
  }

}

/*footer desttop*/
@include desktop {

  .site-footer {
    border: red solid;

  }


  .social-media-icon {
    border: green solid;

  }

  .footer-navigation {
    border: pink solid;

  }




}